$social-icon-diameter: 40px;

footer {
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 25px;
}

.social-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    padding: 0 calc($social-icon-diameter/2);
    img {
      height: $social-icon-diameter;
      width: $social-icon-diameter;
    }
  }
}
