<div class="hero" [class.portrait-header-page]="this.onPortraitHeaderPage()">
  <img class="hero-img" (window:resize)="setHeroImg()" [src]="this.getHeroImgUrl()" [alt]="this.heroImg.altText" />
  <nav>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="highlights">Highlights</a></li>
    </ul>
  </nav>
</div>

<div class="logo"></div>
<img
  ngSrc="logo"
  alt="The Gorporation logo, consisting of a circle with a cap in the middle"
  class="logo"
  width="791"
  height="788"
  sizes="10vw"
  [loaderParams]="{ quality: 80 }"
/>
