<div class="about-wrapper">
  <h1 id="title">This is Bew Gorp</h1>

  <div class="text-wrapper">
    <p id="about-text-1">
      Ever since I started fiddling with HTML on my sister's Mac in junior high, I knew that the web was for me. I still
      also fondly remember when I, later on, first installed Xubuntu and figured out that my go-to dev environment would
      always be Linux-based.
    </p>

    <p>
      I finished my master's degree in Computer Science at Gothenburg University in 2018. I focused on web programming
      and operating systems in particular. Since then, I've worked on varying projects for different companies, and
      contributed to a few open source initiatives as well!
    </p>

    <p>
      My main interests still lie in everything web related, whether it be coding up an Angular frontend application,
      putting together a backend with Django, or orchestrating microservices with Docker and Kubernetes. I find that the
      best part of this job is how many skilled people you get to talk to, and that there's always more to learn.
    </p>

    <p><a class="hidden-link" routerLink="/hidden-docs">SECRET DOCS DON'T LOOK</a></p>
  </div>
  <img
    ngSrc="programmer_with_screens"
    alt="A background image of Bew Gorp sitting at a desk with computer screens."
    class="portrait"
    width="1920"
    height="1280"
    sizes="100vw"
    [loaderParams]="{ quality: 80 }"
  />
</div>
