@import 'variables';

.tech-carousel-img {
  height: 15vh;
  width: auto;
  @media (min-width: $mediumscreen-min-width) {
    height: 20vh;
  }
}

.tech-carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
