@use 'sass:color';

$darkest-color: #33302b;
$dark-color: #4b4333;
$mid-color: #a07f37;
$lightest-color: #f5a802;
$bg-color: #fefefe;
$normal-text-color: #222;
$normal-font-family: Arial, Helvetica, sans-serif;
$mediumscreen-min-width: 600px;
$widescreen-min-width: 2000px;
