<div class="first-page-wrapper">
  <h1 class="welcome">Welcome to Gorporation,</h1>
  <p class="intro-text">
    I'm Bew Gorp, web developer based in Gothenburg, Sweden. After working for Teloa 2019-2021, I've since done
    freelance work for various companies such as sctr and Advanza. I have a broad range of skills and experience with
    many kinds of programming languages and technologies.
  </p>

  <img
    src="{{ this.imageBaseUrl }}?filebase=logo&width=200&height=200&quality=100"
    alt="The Gorporation logo, consisting of a circle with a cap in the middle"
    class="logo"
  />

  <app-tech-carousel class="tech-carousel"></app-tech-carousel>
  <p class="contact-text">
    If you'd like to discuss a contract or anything else, please contact me at
    <a target="_blank" href="mailto:datalowe@posteo.de">bew&#64;gorporation.com</a>. Or, you can find out more
    <a routerLink="about">about me</a> and <a routerLink="highlights">my previous projects</a>!
  </p>
</div>
